Requirements
Design Python classes for each of the following:

Wheels

Have a weight
Have a cost for manufacturer to produce
Have a model name
You'll need to create a total of three wheel types
Even though you'll create two bicycle manufacturers, assume that all manufacturers use the same three wheel types.

Frames

Can be made of aluminunum, carbon, or steel
Have a weight
Have a cost for manufacturer to produce
Even though you'll create two bicycle manufacturers, assume that all manufacturers use the same three frame types.

Bicycle Models

Comprised (in our simplified world) of two wheels of the same type and a frame.
Have a total weight equal to the sum of the weight of the frame and two wheels.
Have a total cost to produce (for our purposes, that cost is the sum of the two wheels' and frame's cost to produce)
Have a name
Have a manufactuer

Bicycle Manufacturers

Have a name
Produce three models of bikes each
Have a percentage over cost they sell bikes to bike shops at
You'll need to create two bicycle manufacturers

Bike Shops

Get their inventory of bikes from manufacturers
Sell bicycle models with a margin over price they pay to manufacturer
Have a name
Have an inventory
Can see how much profit they have made on margin from selling bikes.

Customers

Have a name
Have a fund of money to buy a bike
Can buy and own a new bicycle

All of the classes that you write should exist in a single file.

Write a script that:

• Lives in a file separate from your models and imports them.

• Creates two bicycle manufacturers, which both produce three different bicycle models (note that this implicitly requires you to create the wheels and frames that both manufacturers will need to produce their bicycles)

• Creates one bicycle shop that has 6 different bicycle models in stock, 3 from each manufacturer. The bicycle shop should charge its customers 20% over its cost for buying the bikes from the manufacturers.

• Creates three customers. One customer has a budget of $200, the second $500, and the third $1000.

• Prints the name and total weight of each bicycle model carried by the bike shop

• Prints the name of each customer, and a list of the bikes offered by the bike shop that they can afford given their budget. Make sure you price the bikes in such a way that each customer can afford at least one.

• Prints the initial inventory of the bike shop for each bike it carries.

• Has each of the three customers purchase a bike then prints the name of the bike the customer purchased, the cost, and how much money they have left over in their bicycle fund.

• After each customer has purchased their bike, the script should print out the bicycle shop's remaining inventory for each bike, and how much profit they have made selling the three bikes.